@import "../../variables";



footer{
	height: max-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 200px 50px;
	background-color: $colorFoot;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
	.footer-row-top{
		grid-area: 1 / 1 / 2 / 4;
		background: rgba(0,0,0,0.6);
		display: flex;
		align-items: center;
		justify-content: center;
		.footer-row-items{
			display: flex;
			gap: 20px;
			justify-content: center;
			align-items: center;
			.footer-icon-wrapper{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				border: 2px solid $colorAccent;
				border-radius: 50%;
				color: #ffffffc5;
				&:hover{
					transition: scale 300ms ease, background 300ms ease, color 300ms ease;
					scale: 1.4;
					background: $colorAccent;
					box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
					color: #fff;
				}
			}
		}
	}
	.footer-boxL, .footer-boxR{
		li a{
			&:hover{
				transition: letter-spacing 300ms ease, color 300ms ease, text-shadow 300ms ease;
				letter-spacing: 2px;
				color: #fff;
				text-shadow: 3px 3px 5px rgba(0,0,0,.5);
			}
		}
	}
	.footer-boxL{
		grid-area: 2 / 1 / 3 / 2;
		padding: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.footer-boxL-list{
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
	.footer-boxM{
		grid-area: 2 / 2 / 3 / 3;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		user-select: none;
		h2{
			font-size: 40px;
			text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
			text-transform: uppercase;
		}
		p{
			font-size: 12px;
			text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
			span{
				font-style: italic;
				color: hotpink;
			}
		}
	}
	.footer-boxR{
		grid-area: 2 / 3 / 3 / 4;
		padding: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: end;
		.footer-boxR-list{
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
	.footer-row-bot{
		grid-area: 3 / 1 / 4 / 4;
		background: rgba(0,0,0,0.6);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		user-select: none;
		.developer{
			span a{
				color: hotpink;
			}
		}
	}
}