$colorBg: #5B2A99;
$colorBgDarker: #190a2c;
$colorHead: #823ED8;
$colorFoot: #381663;
$colorAccent: #823ED8;
$colorContentBg: rgba(0,0,0,0.5);

$colorParagraphs: #ffffff;
$colorHeadings: #823ED8;
$colorLinks: #ffffff;

$borderRad-5: 5px;
$borderRad-10: 10px;

$navHeight: 70px;
$footerHeight: 200px;